*.retry
.ansible/
id_rsa
id_rsa.pub

# Ignore community roles (we install them via requirements.yml)
roles/geerlingguy.git/

# Ignore Ansible Vault password file
.vault_pass

# Ignore secrets.yaml inside phase-3-helm
/phase-3-helm/**/my_secrets.yaml
*.secret.yaml

# Ignore Alertmanager values file (contains sensitive Slack webhook URL)
alertmanager-values.yaml

# Ignore GCP credentials file
gcp-credentials.json