[defaults]
inventory = inventory.gcp.yml
# Desactivate SSH host key checking to avoid prompts when connecting to new hosts
host_key_checking = False
# Remote user for SSH connections
remote_user = justino
# Path to the private SSH key for connecting to the GCP VM
private_key_file = ~/.ssh/gcp_key