[defaults]
# Use the local hosts.ini as the default inventory
inventory = hosts.ini

# Stop showing the cowsay (if installed) or other cosmetic stuff
nocows = 1

# If you want to suppress the deprecation warnings after you've handled them:
deprecation_warnings = False

# Location for temporary files on the control node
remote_tmp = /tmp/.ansible/tmp